

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rs  {
  width: 40px;
  margin: 15px;
  flex-wrap: wrap;
  align-items: center;

}

.italic_contain_contact{
  margin: 60px;
font-size: 20px;
align-items: center;
}


.contact-box {
  width: 100%;
  margin: 80px 50px;
  display: flex;
}

 .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% ;
  padding: 8% 5% ;
}


.contact-form-wrapper {
  border-radius: 0 10px 10px 0;

}


@media only screen and (max-width: 500px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}


.italic_contain_contact{
margin: 30px;
font-size: 30px;
color: $color-green;
}




.link {
  margin: 10px;
  cursor: pointer;
}

.form-item {
  position: relative;


label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: $color_dark_brow;
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  border:0;
  border-bottom: 2px solid $color-yellow;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  background:transparent;
}
}


