.newsletter{
background-color: #694421;
width: 100%;
height:600px;
display: flex;
flex-direction: column;
}

.partners{
width: 300px;
height: fit-content;
margin-top: 30px;
margin-left:30px;
}

.container{
   padding: 20px;
}
.form{
   margin: 0 auto;
   max-width: 500px;
   padding: 40px;
   border-radius: 9px;
   flex-direction: column;

}

button{
   border-radius: 4px;
   display: block;
   color: rgb(255, 255, 255);
   background: $color-dark-brow;
   padding: 1px;
   width: 20%;
   cursor: pointer;
   margin: 10px;
   text-align: center;
}
.input-field .input{
 background: transparent;
   border: 0;
   font-family: 'Roboto', sans-serif;
   border-bottom: 2px solid $color-dark-brow;
   padding: 10px;
   width: 100%;
   
}

button:hover{
   color: rgb(46, 38, 22);
   background-color: rgb(217, 151, 80);
}


.footer{
background-color:$color-dark-brow;
width: 100%;
height:60px;
display: flex;
flex-wrap: wrap;
}

.logo{
 width: 50px;
 height: 50px;
 object-fit: contain;
 justify-content:end;
}

.legal_page{
color: white;
text-decoration: none;
   }
   

@media only screen and (min-width: 500px) {

   .newsletter{
      width: 100%;
      height:200px;
      flex-direction: row;
      justify-content: space-between;
      }
   }