

.italic_contain {
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: $color-green;
    margin-left: 20px;
    margin-top:60px;
}

.text {
    margin: 40px;
    opacity: 0;
    transform:translateY(50px);
    transition: 1s all ease-in-out;  
}

.text-appear{
    opacity: 1;
    transform: translateY(0px);
}


.vertical_line{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Images {
    width: 150px;
    height: 418px;
    object-fit: cover;
}  


.Images-appear{
    opacity: 1;
    transform: translateY(0px);
}
.program {
width: 100vw;
height:100% ;
}


.presentation_container{
margin: 30px;
}

.map{
    width: 150px;
    height: 180px;
}

.color_flag {
    width  : 100%;
    height : 5px;
    left: 3px;
   top: 523.61px;
   background: rgba(255, 134, 82, 0.2);
   margin-bottom: 5px;

}

.color_flag-1 {
    width  : 100%;
    height : 5px;
    left: 3px;
    top: 523.61px;
    background: rgba(249, 220, 119, 0.2);
    margin-bottom: 5px;
}

.color_flag-2 {
width  : 100%;
    height : 5px;
    left: 3px;
    top: 523.61px;
    background: rgba(89, 155, 116, 0.2);
    margin-bottom: 30px;
}

   .ambessa {
    display: block;
    width: 100vw;  
}

.colaboracion {
    width: 100vw;  
}

.concert_contain{

    display: flex;
    flex-direction: row;
    vertical-align: auto;
    margin:20px;
}

.dance_contain{
    display: flex;
    flex-direction: row;
    vertical-align: auto;
    margin:20px;
}

.cafe_contain{
    display: flex;
    flex-direction: row;
    vertical-align: auto;
    margin:20px;
}


.food_contain{
    display: flex;
    flex-direction: row;
    vertical-align: auto;
    justify-content: space-between;
    margin:20px;
}


.text_contain{
    width: 100vw;
    height:30vh ;
    overflow: hidden;
    position: relative;
    overflow: hidden; 
    }
    
    .image_taller{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    } 
    
.compras{
display: flex;
justify-content: space-evenly;
  }


.has-light-mask {
  width: 700px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.image-effect {
  img {
    transform: scale3d(1.2,1.2,1);
    transition: all 0.8s cubic-bezier(0.7,0,0.3,1);
  }
  figcaption {
    a {
      text-decoration :none;
      color: black;
      font-size: 30px;
      font-weight: bold;
    }
    
    position: absolute;
    top:40%;
    left: 0;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.7,0,0.3,1);
    &:after {
      position: absolute;
      font-size: 15px;
      top: 14px;
      right: -39px;
    }

  }
  &:hover {
    img {
      transform: scale3d(1,1,1);
      opacity: 0.8;
        }
      figcaption {
        left: 30%;
        opacity: 1;
      }
  }
}
.text_sorteo{
    color: $color-yellow;
    text-align: right;
    font-size: 30px;
    margin-right: 20px;
    }
    



@media only screen and (min-width: 500px) {


.Images {
width: 44.6vw;
height: 100vh;
margin-left: 50px;
margin-right: 50px;
transform: scale3d(1.02,1.02,1);
transition: all 0.8s cubic-bezier(0.5,0,0.3,1);
&:hover {
      transform: scale3d(1,1,1);
      opacity: 0.5;
        }
      figcaption {
        left: 30%;
        opacity: 1;
      }
}  

.presentation_container{
  display: flex;

  }
.text {
margin-top: 90px;
margin-left: 50px;
margin-bottom: 70px;
margin-right: 60px;
}

.italic_contain{
margin: 90px;
font-size: 40px;
}
        
.text_contain{
width: 100vw;
height:50vh ;
}



.map{
    width: 240px;
    height: 260px;
}



.child_picture{
    width: 100vw; 
    height:50vh;
    object-fit: cover;
}
}
