// ----- $COLOR

// main background color
$color-beige: #F5F5F5;
// top bar color
$color-topbar:rgba(79, 45, 15, 0.95);
// footer color
$color-mid-brown: #694421;
$color-brown: #4F2D0F;


//color for tipography
$color-yellow: #E2B61A;
$color-green: #1A532D;
$color-dark-brow: #341A03;
$color-white: #FFFF; 
$color-main: $color-beige;
$color-btn: $color-mid-brown;

