// ----- $FONTS-VARIABLES


// --- font-family
$mate: 'Mate SC', normal;
$notoserif: 'Noto Serif TC', normal;
$red-hat-text-italic: 'Red Hat Text', italic;
$reh-hat-text: 'Red Hat Text', normal;


// --- font-weight
$regular: 400;
$light: 300;
$semi-bold: 600;

