 .button-page  {
    display:block;
  width: 65%;
      background-color: #341A03;
      border: none;
      color: #fff;
      padding: 10px;
      border-right: 4px;
      font-size: 16px;
      border-radius: 20px;
    margin:auto;
    text-decoration: none;
    text-align: center;  
    margin-top: 20px;
    } 



      @media only screen and (min-width: 500px) {
  .button-page  {
    display:block;
    width: 15%;
    background-color: #341A03;
    border: none;
    color: #fff;
    padding: 15px;
    border-right: 4px;
    font-size: 16px;
    border-radius: 20px;
    margin:auto;
    text-decoration: none;
    text-align: center;  
    } 
      }