.subtitle {
   font-family: $notoserif;
   font-size: 20px;
   color: $color-white;
}

h1 {
    font-family: $mate;
    font-weight: $light;
    font-size: 48px;
    color: $color-white;
    line-height: 100px;
    margin: 10px;

}

h2 {
    font-family: $red-hat-text;
    font-weight: $regular;
    font-size: 40px;
    color: $color-yellow;
    align-items: center;
    margin: 50px;
}

h3 {
    display: relative;
    font-family: $red-hat-text-italic;
    font-weight: $regular;
    
    font-size: 36px;
    color: #AB6512;
    text-align: center;
   
}

.text {
    font-family: $red-hat-text;
    font-size: 15px;
    color: $color-dark-brow;
    line-height: 25px;
}

h4 {
    font-family: $red-hat-text-italic;
    font-weight: $regular;
    font-size: 35px;
    color: #AB6512;
    margin : 20px;
   
}

@media only screen and (min-width: 500px) {

.subtitle {
   font-family: $notoserif;
   font-size: 20px;
   color: $color-white;
}

h1 {
    font-family: $mate;
    font-weight: $light;
    font-size: 100px;
    color: $color-white;
    line-height: 100px;
    margin: 10px;
}

h2 {
    font-family: $red-hat-text;
    font-weight: $regular;
    font-size: 100px;
    color: $color-yellow;
    text-align: CENTER;
}

h3 {
    font-family: $red-hat-text-italic;
    font-weight: $regular;
    font-size: 100px;
    color: #AB6512;
    margin-top : 120px;
}

.text {
    font-family: $red-hat-text;
    font-weight: $light;
    font-size: 20px;
    color: $color-dark-brow;
    line-height: 30px;
}

h4 {
    font-family: $red-hat-text-italic;
    font-weight: $regular;
    font-size: 40px;
    color: #AB6512;
    text-align: center; 
}
}
